<script>
	export let id
	export let placeholder
	export let required = false
</script>

<main>
	<input id="{id}" type="tel" placeholder="{placeholder}" {required} />
</main>

<style>
	input {
		min-width: 150px;
		min-height: 30px;
		background-color: var(--main-input-bg-color);
		color: var(--main-color);
		border: solid 1px var(--main-input-border-color);
		padding: 8px;
	}
</style>
