<script>
	import { onMount } from 'svelte';

	let error_msg = ""

	class LoginForm {
		static async send () {
			const username = document.getElementById('username').value
			const password = document.getElementById('password').value
			const response_json = await Login.send(username, password)

			if (response_json.status == 'error') {
				error_msg = `
<span>
	Falha na requisição de login!<br>
	Tente novamente em breve.
</span>
`
			}
			else if (response_json.status == 'invalid') {
				error_msg = `
<span>Usuário ou senha inválido!</span>
`
			}
		}
	}

	onMount(() => {
		const form = document.getElementById('LoginForm-form')
		form.addEventListener('submit', (event) => {
			event.preventDefault()
			LoginForm.send()
		})
	})
</script>

<main>
	<div id="container">
		<span id="title">Login</span>
		<section>
			<form id="LoginForm-form">
				<div class="row">
					<div class="cell">
						<input type="text" id="username" placeholder="Usuário" required>
					</div>
				</div>
				<div class="row">
					<div class="cell">
						<input type="password" id="password" placeholder="Senha" required>
					</div>
				</div>
				<button id="submit-button" type="submit">Login</button>
			</form>
			<small id="forgot-password"><a href="/recover">Esqueceu sua senha?</a></small>
		</section>
		{#if error_msg.length > 0}
		<section id="error-section">
			{@html error_msg}
		</section>
		{/if}
	</div>
</main>

<style>
	#container {
		/* From shared.css */
		background-color: var(--main-content-bg-color);
		box-shadow: var(--main-container-box-shadow);
		border-radius: var(--main-container-border-radius);

		padding: 40px;
		text-align: center;
		max-width: fit-content;
		margin: 5% auto;
	}

	#title {
		font-size: 200%;
		margin-bottom: 25px;
		display: block;
	}

	section {
		display: block;
	}

	.row * {
		display: inline-block;
	}

	.cell {
		margin: 5px;
	}

	input, button {
		min-width: 250px;
		min-height: 40px;
	}
	
	input {
		background-color: var(--main-input-bg-color);
		color: var(--main-color);
		border: solid 1px var(--main-input-border-color);
		padding: 8px;
	}
	
	button {
		padding: 10px 20px;
	}

	#submit-button {
		display: inline-block;
		margin-top: 25px;
	}

	#forgot-password {
		display: inline-block;
		margin-top: 15px;
	}

	#error-section {
		/* From shared.css */
		background-color: var(--main-input-bg-color);

		display: inline-block;
		margin-top: 15px;
		padding: 15px;
		width: 220px;
	}
</style>
