<script>
	import { onMount } from 'svelte'

	onMount(() => {
		const sms_verification = document.querySelector('#sms-verification')

		sms_verification.addEventListener('submit', (event) => {
			event.preventDefault()
			SMSCodeVerification.send()
		})
	})
</script>

<main>
	<div id="container">
		<span class="info">
			Um código de recuperação foi enviado.<br>
			Digite o código para continuar.
		</span>
		<form id="sms-verification">
			<div class="row">
				<div class="cell label-cell">
					<label for="password-recovery-sms-code">Código</label>
				</div>
				<div class="cell">
					<input type="text" id="password-recovery-sms-code" required />
				</div>
			</div>
			<button>Enviar</button>
		</form>
	</div>
</main>

<style>
	.row {
		margin-bottom: 15px;
	}

	.row * {
		display: inline-block;
	}

	.cell {
		margin: 5px;
	}

	.label-cell {
		width: 50px;
	}

	button {
		min-width: 150px;
		min-height: 30px;
		padding: 10px 20px;
	}

	span.info {
		/* From shared.css */
		background-color: var(--main-input-bg-color);

		display: inline-block;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 15px;
		width: 250px;

		text-align: left;
		font-size: small;
	}

	input {
		min-width: 150px;
		min-height: 30px;
		background-color: var(--main-input-bg-color);
		color: var(--main-color);
		border: solid 1px var(--main-input-border-color);
		padding: 8px;
	}
</style>
