:root {
	--vibrant-orange: #ff6600;
	--selected-orange: #cc5200;

	--main-bg-color: #1a1a1a;
	--main-content-bg-color: #222222;
	--main-color: #ffffff;
	--main-input-bg-color: #333333;
	--main-input-border-color: var(--vibrant-orange);
	--main-button-bg-color: var(--vibrant-orange);
	--main-button-bg-color-selected: var(--selected-orange);
	--main-link-color: var(--vibrant-orange);

	--main-container-box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	--main-container-border-radius: 8px;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-color);
}

a {
	color: var(--main-link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	background-color: var(--main-button-bg-color);
	color: var(--main-color);
	border: none;
	font-weight: bold;
}

button:hover {
	cursor: pointer;
}

button.selected-button {
	background-color: var(--main-button-bg-color-selected);
}

form {
	margin: 0;
}

.hidden {
	display: none;
}
