<script>
	import { onMount } from 'svelte'

	import CellphoneNumberInput from '../CellphoneNumberInput/CellphoneNumberInput.svelte'
	import EmailInput from '../EmailInput/EmailInput.svelte'
	import SMSCodeVerificationForm from '../SMSCodeVerificationForm/SMSCodeVerificationForm.svelte'

	let selected_button = null

	let recovery_method = null

	let after_status = null

	class PasswordRecoveryForm {
		static async send () {
			if (recovery_method == 'sms') {
				const cellphone_number = document.querySelector('#password-recovery-tel').value
				const response_json = await PasswordRecovery.send(recovery_method, cellphone_number)
				console.log(response_json)

				if (response_json.status != "ok") {
				}

				after_status = 'sms-check'
			}
			else if (recovery_method == 'email') {
				const email = document.querySelector('#password-recovery-email').value
				const response_json = await PasswordRecovery.send(recovery_method, email)
				console.log(response_json)

				after_status = 'email-ok'
			}
		}
	}

	function select_button (element) {
		// clear previously selected button
		if (selected_button !== null) {
			selected_button.classList.remove('selected-button')
		}

		element.classList.add('selected-button')
		selected_button = element

		const element_method = element.getAttribute('data-method')
		const div_id = element_method + '-recovery'
		show_div(div_id)

		recovery_method = element_method
	}

	function show_div (div_id) {
		// hide all divs but div_id div
		const divs = document.querySelectorAll('#recovery-form-divs-container > div')
		for (let i = 0; i < divs.length; i++) {
			let div = divs[i]

			if (div.id == div_id) {
				div.classList.remove('hidden')
			}
			else {
				div.classList.add('hidden')
			}
		}
	}

	onMount(() => {
		const recovery_form_divs_container = document.getElementById('recovery-form-divs-container')
		const recovery_method_selection = document.getElementById('recovery-method-selection')
		const forms = document.querySelectorAll('#recovery-form-divs-container form')
		console.log('forms', forms)

		// setup forms submit event
		for (let i = 0; i < forms.length; i++) {
			let form = forms[i]
			console.log('form', form)

			form.addEventListener('submit', (event) => {
				event.preventDefault()
				PasswordRecoveryForm.send()	
			})
		}

		// hide form divs
		// MUST come before buttons setup to properly hide/show forms
		for (let i = 0; i < recovery_form_divs_container.children.length; i++) {
			let child = recovery_form_divs_container.children[i]
			child.classList.add('hidden')
		}

		// setup buttons
		for (let i = 0; i < recovery_method_selection.children.length; i++) {
			let child = recovery_method_selection.children[i]

			// skip children which aren't buttons
			if (!child.tagName || !child.tagName == "BUTTON") {
				continue
			}

			// select first button
			if (i == 0) {
				select_button(child)
			}

			child.addEventListener('click', (event) => {
				const element = event.target

				// do nothing if user is clicking already selected recovery method button
				if (element.classList.contains('selected-button')) {
					return
				}

				select_button(element)
			})
		}
	})
</script>

<main>
	<div id="container">
		<span id="title">Recuperação de Senha</span>

		{#if after_status == null}
			<section id="recovery-method-selection">
				<button data-method="sms">SMS</button>
				<button data-method="email">E-mail</button>
			</section>
			<section id="recovery-form-divs-container">
				<div id="sms-recovery">
					<span class="info">Digite um celular para recuperar a senha.<br>Se corresponder a uma conta cadastrada, um código será enviado.</span>
					<form id="sms-form">
						<div class="row">
							<div class="cell label-cell">
								<label for="passowrd-recovery-tel">Celular</label>
							</div>
							<div class="cell">
								<CellphoneNumberInput id="password-recovery-tel" placeholder="(99) 12345-6789" required />
							</div>
						</div>
						<button>Enviar</button>
					</form>
				</div>
				<div id="email-recovery">
					<span class="info">Digite um e-mail para recuperar a senha.<br>Se corresponder a uma conta cadastrada, um link será enviado.</span>
					<form id="email-form">
						<div class="row">
							<div class="cell label-cell">
								<label for="password-recovery-email">E-mail</label>
							</div>
							<div class="cell">
								<EmailInput id="password-recovery-email" placeholder="email@email.com.br" required />
							</div>
						</div>
						<button>Enviar</button>
					</form>
				</div>
			</section>
		{:else}
			<section id="after-msg-container">
				{#if after_status == 'sms-check'}
					<div id="sms-check">
						<SMSCodeVerificationForm />
					</div>
				{:else if after_status == 'email-ok'}
					<div id="email-ok">
						<span class="info">Um e-mail com um link para recuperação foi enviado.</span>
					</div>
				{/if}
			</section>
		{/if}
	</div>
</main>

<style>
	#container {
		/* From shared.css */
		background-color: var(--main-content-bg-color);
		box-shadow: var(--main-container-box-shadow);
		border-radius: var(--main-container-border-radius);

		padding: 40px;
		text-align: center;
		max-width: fit-content;
		margin: 5% auto;
	}

	#title {
		font-size: 200%;
		margin-bottom: 25px;
		display: block;
	}

	section {
		display: block;
	}

	.row {
		margin-bottom: 15px;
	}

	.row * {
		display: inline-block;
	}

	.cell {
		margin: 5px;
	}

	.label-cell {
		width: 50px;
	}

	button {
		min-width: 150px;
		min-height: 30px;
		padding: 10px 20px;
	}

	span.info {
		/* From shared.css */
		background-color: var(--main-input-bg-color);

		display: inline-block;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 15px;
		width: 250px;

		text-align: left;
		font-size: small;
	}
</style>
